<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body style="background-color: black;">
<div style="border: 5px solid rgb(179, 179, 212);width: 25%;margin: auto;background-color: rgb(29, 5, 85);"><H3 style="text-align: center;color: white;">Analytics</H3></div>
<div style="display: flex;gap: 20px;text-align: center;margin: auto;background-color: rgb(7, 20, 20);color: azure;">
    <div style="width: 33%;padding-bottom: 25px;padding-top: 25px;">URL
        <div>----------</div>
        {% for url in urls %}
        <div style="padding-top: 25px;">{{url.full_url}}</div>
        {% endfor %}

    </div>
    <div style="width: 33%;padding-top: 25px;">Shortened URL
        <div>----------</div>
        {% for url in urls %}

        <div style="padding-top: 25px;"><a href="{{url.short_code}}" style="color: white;">{{request.host}}/{{url.short_code}}</a></div>
        {% endfor %}
    </div>


    <div style="width: 33%;padding-top: 25px;">Clicks
        <div>----------</div>
        {% for url in urls %}

        <div style="padding-top: 25px;">{{url.clicks}}</div>
        {% endfor %}

    </div>


</div>




</body>
</html>